{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "insertPragma": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100
}
